# This rule is not used by the project autobackup-manifest-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to backup.example.com resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: autobackup-manifest-operator
    app.kubernetes.io/managed-by: kustomize
  name: backupschedule-viewer-role
rules:
- apiGroups:
  - backup.example.com
  resources:
  - backupschedules
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - backup.example.com
  resources:
  - backupschedules/status
  verbs:
  - get
